// Основной CSS
@mixin attackShape {
  font-size: 25px;
  z-index: 12;
  cursor: pointer;
  color: black;
  border: 3px solid black;
  border-radius: 50%;
  background-color: orangered;
  font-weight: 700;
  padding: 5px;
  position: absolute;
  box-sizing: border-box;
  &:hover {
    transition: 0.3s;
    background-color: orangered;
    border: 3px solid white;
    color: white;
    opacity: 1;
    scale: (1.15);
  }
}
.none {
  display: none;
}
.explain {
  width: 100%;
  display: flex;
  position: relative;
  background-color: #0272be;
  justify-content: center;
  align-items: center;
  border: 4px solid white;
  border-bottom: none;
  box-sizing: border-box;
  label {
    font-size: 18px;
    display: block;
    font-weight: 600;
  }
  .saveBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color: white;
    min-height: 24px;
    .returnButton {
      background-color: yellowgreen;
      font-size: 13px;
      border: 2px solid black;
      border-radius: 5px;
      font-weight: bold;
      margin: 0 10px;
      box-sizing: border-box;
      &:hover {
        transition: 0.3s;
        opacity: 1;
        scale: (1.4);
      }
    }
  }
  .input-wrapper {
    display: flex;
    width: 100%;
    input {
      width: 100%;
      border-left: 2px solid black;
      border-right: 2px solid black;
      font-weight: bold;
      text-align: center;
      font-size: 15px;
      box-sizing: border-box;
    }
  }
}

.playArea {
  width: 100%;
  .select-wrapper {
    width: 100%;
    .typeOfAction {
      background-color: orangered;
      color: white;
      font-weight: bold;
      text-align: center;
      font-size: 18px;
      border: none;
      box-sizing: border-box;
      border: 4px solid white;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
    }
    select[disabled] {
      opacity: 1;
      background-color: #0272be;
      cursor: not-allowed;
    }
  }
  .count-button-wrapper {
    position: absolute;
    width: 100%;
    top: 15%;
    z-index: 15;
    .countButton {
      background-color: #0272be;
      cursor: pointer;
      border: 2px solid white;
      border-radius: 25px;
      padding: 1vmin 2vmin;
      color: white;
      z-index: 2;
      font-size: calc(1vmax + 0.3rem);
      font-weight: 600;
      &:hover {
        transition: 0.3s;
        opacity: 1;
        scale: (1.3);
      }
    }
    .countButton[disabled] {
      background-color: transparent;
      border: none;
      font-size: calc(2vmax + 1rem);
      color: #000;
      &:hover {
        cursor: not-allowed;
        transition: none;
      }
    }
  }
  .showTheBall {
    color: black;
    background-color: transparent !important;
    display: "initial";
    border: 2px solid transparent !important;
    font-weight: 100;
  }
}
// ТУТ
.cones-wrapper {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 55.4px));
  padding: 0;
  bottom: 4px;
  left: 4px;
  position: absolute;
  box-sizing: border-box;
  .result {
    width: 100%;
    aspect-ratio: 1/0.986;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: #0272be;
    color: white;
    font-weight: 600;
    border: 2px solid white;
    box-sizing: border-box;
  }
}
.tip-wrapper {
  position: absolute;
  width: 100%;
  bottom: 35%;
  z-index: 16;
  .tip,
  .yellowtip {
    width: 25%;
    border-radius: 1vmax;
    border: none;
    margin: 0px 1vmin;
    font-size: calc(1.75vmin + 0.3rem);
    padding: 5px 0;
    font-weight: 600;
    border: 2px solid black;
    cursor: pointer;
  }
  .tip {
    background-color: transparent;
    opacity: 0;
    animation: blink 10s linear infinite;
    &:hover {
      background-color: yellow;
      border: 2px solid black;
      color: #000;
    }
  }
  .yellowtip {
    background-color: yellow;
  }
}
.compareFields {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 23%;
  z-index: 16;
  font-size: 18px;
  width: 100%;
  padding-bottom: 15px;
  .input-equality-wrapper,
  .label-equality-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input-equality-wrapper {
    width: 40%;
    label {
      font-weight: 600;
      font-size: 18px;
    }
    input {
      display: block;
      width: 80%;
      font-weight: bold;
      justify-content: center;
      text-align: center;
      font-size: 14px;
      border: 1px solid black;
      box-sizing: border-box;
    }
  }
  .label-equality-wrapper {
    width: 20%;
    .equal {
      font-weight: bold;
      box-sizing: border-box;
      display: block;
    }
  }
}
.playArea {
  .zones-wrapper {
    &:hover > :not(:hover) {
      opacity: 0.5;
    }
    button {
      &:hover {
        transform: translateY(-10px);
      }
    }
    .A2 {
      left: -6%;
      top: 45%;
      @include attackShape;
    }
    .A1 {
      left: -6%;
      top: 30%;
      @include attackShape;
    }
    .A4 {
      right: -6%;
      top: 45%;
      @include attackShape;
    }
    .AP {
      top: 30%;
      left: 43%;
      @include attackShape;
    }
    .AK1 {
      top: 45%;
      right: 58%;
      @include attackShape;
    }
    .AKC {
      top: 45%;
      right: 43%;
      @include attackShape;
    }
    .AK7 {
      top: 45%;
      right: 28%;
      @include attackShape;
    }
    .S1 {
      left: 8%;
      top: 9.3%;
      @include attackShape;
    }
    .S6 {
      left: 43%;
      top: 9.3%;
      @include attackShape;
    }
    .S5 {
      right: 8%;
      top: 9.3%;
      @include attackShape;
    }
  }
}
