@keyframes greyscale {
  0% {
    filter: contrast(50%) grayscale(100%);
  }
  25% {
    filter: contrast(75%) grayscale(100%);
  }
  100% {
    filter: contrast(100%) grayscale(0%);
  }
}
@keyframes fillUp {
  from {
    height: -100%;
  }
  to {
    height: 0;
  }
}
body {
  text-align: center;
}

:root {
  --normal-text-size-value: 1.25;
}

h1 {
  font-size: calc((var(--normal-text-size-value) - 1) * 3vw + 1.5rem);
  margin: 5px 0;
}

h2 {
  font-size: calc((var(--normal-text-size-value) - 1) * 5vw + 0.3rem);
  margin: 5px 0;
}

p {
  font-size: calc((var(--normal-text-size-value) - 1) * 1vw + 1rem);
  padding: 10px 0;
  margin: 0;
}

option {
  font-size: calc((var(--normal-text-size-value) - 1) * 2vw + 0.5rem);
}

main {
  padding: 0 2vw;
  box-sizing: border-box;
}
main button {
  background-color: rgb(100, 149, 237);
}
main .loading-logo-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .loading-logo-wrapper .logo-wrapper {
  position: absolute;
  width: 60vmin;
  display: flex;
}
main .loading-logo-wrapper .logo-wrapper .my-logo {
  z-index: 13;
}
main .loading-logo-wrapper .logo-wrapper .back-photo {
  position: absolute;
  width: 58.7vmin;
  margin-left: -4%;
  margin-top: -4%;
  rotate: 328deg;
  z-index: 11;
}
main .loading-logo-wrapper .logo-wrapper .backGround {
  position: absolute;
  animation: fillUp 2.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
  z-index: 10;
  background-color: white;
  height: 100%;
  width: 100%;
  z-index: 12;
}
main .main-content-wrapper {
  display: flex;
  justify-content: center;
}
main .main-content-wrapper section .diagram-content {
  width: 100%;
}
main .main-content-wrapper section .diagram-content .split-arrow-wrapper .arrow-content {
  margin-top: -40px;
  position: relative;
  z-index: 1000;
}
main .main-content-wrapper section .diagram-content .split-arrow-wrapper .arrow-content img {
  width: 2.5vmax;
}
main .main-content-wrapper section .diagram-content .split-arrow-wrapper .percentage-content {
  font-weight: 600;
  font-size: 1vmax;
  margin-top: -0.5vw;
}
main .main-content-wrapper section .type-of-actions-wrapper {
  display: flex;
  width: 66%;
  justify-content: center;
  border: 1px solid black;
}
main .main-content-wrapper section .type-of-actions-wrapper .service-content,
main .main-content-wrapper section .type-of-actions-wrapper .attack-content {
  width: 100%;
  font-size: calc((var(--normal-text-size-value) - 1) * 3vw + 0.6rem);
  font-weight: 600;
}
main .main-content-wrapper section .type-of-actions-wrapper .service-content {
  background-color: khaki;
  border-right: 1px solid black;
  margin-right: 1px;
}
main .main-content-wrapper section .type-of-actions-wrapper .attack-content {
  background-color: gainsboro;
  border-left: 1px solid black;
  margin-left: 1px;
}
main .main-content-wrapper .attack-section {
  align-self: center;
  width: 70%;
  position: relative;
  z-index: 6;
}
@media screen and (max-width: 1200px) {
  main .main-content-wrapper .attack-section {
    width: 90vw;
  }
}
main .main-content-wrapper .teamsquad-section,
main .main-content-wrapper .rotation-panel-wrapper {
  width: 20%;
  background-color: gainsboro;
  text-align: center;
  border-radius: calc((var(--normal-text-size-value) - 1) * 3vw + 0.2rem);
  box-sizing: border-box;
  padding: 1vw;
  position: relative;
  z-index: 5;
}
main .main-content-wrapper .rotation-panel-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .main-content-wrapper .ratings-section,
main .main-content-wrapper .playground-section {
  align-self: center;
  width: 60%;
  position: relative;
  z-index: 6;
}
main .main-content-wrapper .playground-section {
  align-self: baseline;
}
main .main-content-wrapper .playground-section .section-border .section-background {
  display: flex;
}
main .main-content-wrapper .playArea-sections-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main .main-content-wrapper .playArea-sections-wrapper .playArea-section {
  position: relative;
  margin: 25px;
  aspect-ratio: 1/2;
  border: 10px solid #0272be;
  min-width: 340px;
  width: 100%;
  max-width: 340px;
}
main .main-content-wrapper .distribution-section {
  position: relative;
  margin: 25px;
  aspect-ratio: 1/1.2;
  border: 10px solid #0272be;
  min-width: 340px;
  width: 100%;
  max-width: 340px;
}
@media screen and (max-width: 1200px) {
  main .main-content-wrapper .ratings-section {
    width: 90vw;
  }
}
main .main-content-wrapper .section-border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
main .main-content-wrapper .section-border .section-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
main .main-content-wrapper .section-border .section-background img {
  width: 100%;
}
main .main-content-wrapper .section-border .section-background .playground-area-background {
  width: 100%;
  height: 100%;
  border: 4px solid rgb(255, 255, 255);
  box-sizing: border-box;
  background-color: darkgrey;
}
main .main-content-wrapper .section-border .section-background .playground-area-background .threeMRivalCort {
  position: relative;
  top: 33.32%;
  height: 16.66%;
  border-top: 4px solid rgb(255, 255, 255);
  background-color: rgb(190, 190, 190);
  display: flex;
}
main .main-content-wrapper .section-border .section-background .playground-area-background .threeMRivalCort div {
  border: 2px solid white;
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}
main .main-content-wrapper .section-border .section-background .playground-area-background .threeMMyCort {
  position: relative;
  top: 33.32%;
  height: 16.66%;
  border-top: 4px solid rgb(255, 255, 255);
  background-color: rgb(190, 190, 190);
  border-bottom: 4px solid rgb(255, 255, 255);
}
main .main-content-wrapper .section-content-wrapper .section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .main-content-wrapper .section-content-wrapper .section-content .team-name-wrapper {
  width: 15vw;
  display: flex;
  justify-content: center;
}
main .main-content-wrapper .section-content-wrapper .section-content .team-name-wrapper .team-name {
  font-size: 2vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-panel-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  box-sizing: border-box;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-panel-content button {
  width: 4vw;
  aspect-ratio: 1/1;
  font-size: 2vw;
  font-weight: bold;
  border: 2px solid black;
  background-color: transparent;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-panel-content button:hover {
  background-color: #0272be;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-buttons-wrapper {
  width: 100%;
  margin: 2vw;
  height: 3vw;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-buttons-wrapper button {
  width: 3vw;
  aspect-ratio: 1/1;
  margin: 1vw;
  border: 2px solid black;
  border-radius: 20px 0px 0px 20px;
  font-size: 1.5vw;
  font-weight: bold;
}
main .main-content-wrapper .section-content-wrapper .section-content .playerNumber-wrapper .playerNumber {
  background-color: fuchsia;
  border-radius: 0px 20px 20px 0px;
}
main .main-content-wrapper .section-content-wrapper .section-content .playerNumber-wrapper button {
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: #ff8001;
  text-align: center;
  border-radius: 20px 0px 0px 20px;
  border: 2px solid rgb(0, 0, 0);
  height: 100%;
  font-size: 1vw;
}
@media screen and (max-width: 620px) {
  main .main-content-wrapper .section-content-wrapper .section-content .playerNumber-wrapper button {
    font-size: 1.1vw;
  }
}
main .main-content-wrapper .section-content-wrapper .section-content .player-surname-wrapper {
  width: 100%;
  z-index: 4;
  overflow: hidden;
}
main .main-content-wrapper .section-content-wrapper .section-content .player-surname-wrapper button {
  width: 100%;
  height: 100%;
  background-color: khaki;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0px 20px 20px 0px;
  font-weight: 600;
  font-size: 1vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 620px) {
  main .main-content-wrapper .section-content-wrapper .section-content .player-surname-wrapper button {
    font-size: 1.1vw;
  }
}
main .main-content-wrapper .section-content-wrapper .section-content .chooseHomeTeam {
  padding: 10px;
  appearance: auto;
  width: 100%;
  display: flex;
  text-align: center;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: calc((var(--normal-text-size-value) - 0.9) * 5vw);
}
main .main-content-wrapper .section-content-wrapper .section-content .team-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-content-wrapper .section-content-wrapper .section-content .team-title-wrapper .team-label-wrapper {
  width: 70%;
}
@media screen and (max-width: 620px) {
  main .main-content-wrapper .section-content-wrapper .section-content .team-title-wrapper .team-label-wrapper {
    align-self: auto;
  }
}
main .main-content-wrapper .section-content-wrapper .section-content .team-title-wrapper .team-label-wrapper .team-label {
  font-size: calc((var(--normal-text-size-value) - 0.9) * 5vw);
  background-color: transparent;
  border: 1px solid transparent;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
main .main-content-wrapper .section-content-wrapper .section-content .team-title-wrapper .team-logo-wrapper {
  width: 30%;
}
main .main-content-wrapper .section-content-wrapper .section-content .team-title-wrapper .team-logo-wrapper .team-logo {
  width: 3vw;
  aspect-ratio: 1/1;
  animation: spin 5s linear 0s infinite;
}
@media screen and (max-width: 620px) {
  main .main-content-wrapper .section-content-wrapper .section-content .team-title-wrapper .team-logo-wrapper .team-logo {
    width: calc((var(--normal-text-size-value) - 1) * 1.2vw + 1rem);
  }
}
main .main-content-wrapper .section-content-wrapper .section-content .squad-wrapper {
  width: 100%;
}
main .main-content-wrapper .section-content-wrapper .section-content .squad-wrapper .player-field-wrapper {
  display: flex;
  margin: 3px 0;
  width: 100%;
  min-height: 2vw;
}
main .main-content-wrapper .section-content-wrapper .section-content .squad-wrapper .player-field-wrapper .player-surname {
  background-color: darkgray;
  border-radius: 20px 0px 0px 20px;
}
main .main-content-wrapper .section-content-wrapper .section-content .squad-wrapper .player-field-wrapper .moveToBoard-wrapper {
  display: flex;
}
@media screen and (max-width: 620px) {
  main .main-content-wrapper .section-content-wrapper .section-content .squad-wrapper .player-field-wrapper .moveToBoard-wrapper {
    display: block;
  }
}
main .main-content-wrapper .section-content-wrapper .section-content .squad-wrapper .player-field-wrapper .moveToBoard-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: calc((var(--normal-text-size-value) - 0.9) * 3vw);
}
main .main-content-wrapper .section-content-wrapper .section-content .plusMinus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  height: 2vw;
}
main .main-content-wrapper .section-content-wrapper .section-content .plusMinus button {
  font-size: calc((var(--normal-text-size-value) - 1) * 4vw + 0.3rem);
  border: none;
  border-radius: 5px;
  min-width: 2vmax;
  font-weight: 600;
  padding: 0;
}
main .main-content-wrapper .section-content-wrapper .section-content .plusMinus span {
  font-size: calc((var(--normal-text-size-value) - 1) * 5vw + 0.8rem);
  padding: 0px 15px;
  font-weight: 600;
}
main .main-content-wrapper .section-content-wrapper .section-content .reset-button-wrapper {
  display: flex;
  width: 100%;
  margin: 1vw 0;
  justify-content: center;
}
main .main-content-wrapper .section-content-wrapper .section-content .reset-button-wrapper div {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
main .main-content-wrapper .section-content-wrapper .section-content .reset-button-wrapper .match-number-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
main .main-content-wrapper .section-content-wrapper .section-content .reset-button-wrapper .match-number-wrapper div {
  height: 50%;
  width: 50%;
}
main .main-content-wrapper .section-content-wrapper .section-content .reset-button-wrapper .match-number-wrapper select,
main .main-content-wrapper .section-content-wrapper .section-content .reset-button-wrapper .match-number-wrapper input {
  width: 12vw;
  border: 2px solid black;
  text-align: center;
  font-weight: 600;
  height: 100%;
  font-size: calc((var(--normal-text-size-value) - 1) * 3vw + 0.2rem);
}
main .main-content-wrapper .section-content-wrapper .section-content .reset-button-wrapper .match-number-wrapper .score-wrapper {
  width: 5vmax;
}
main .main-content-wrapper .section-content-wrapper .section-content .hidden-player-information-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
main .main-content-wrapper .section-content-wrapper .section-content .hidden-player-information-wrapper .player-surname-wrapper {
  border-radius: 2vw;
  background-color: rgb(255, 69, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
main .main-content-wrapper .section-content-wrapper .section-content .hidden-player-information-wrapper .player-surname-wrapper h2 {
  font-size: calc((var(--normal-text-size-value) - 1) * 3vw + 0.7rem);
}
main .main-content-wrapper .section-content-wrapper .section-content .hidden-player-information-wrapper .show-details {
  border: none;
  font-size: calc((var(--normal-text-size-value) - 1) * 3vw + 0.4rem);
  font-weight: 600;
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
}
main .main-content-wrapper .section-content-wrapper .section-content .hidden-player-information-wrapper .show-details:hover {
  filter: grayscale(50);
}
main .main-content-wrapper .section-content-wrapper .section-content .hidden-player-information-wrapper .player-full-info-wrapper {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 620px) {
  main .main-content-wrapper .section-content-wrapper .section-content .hidden-player-information-wrapper .player-full-info-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
main .main-content-wrapper .section-content-wrapper .section-content .hidden-player-information-wrapper .player-full-info-wrapper .player-info-data-wrapper {
  padding: 2vw 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 40%;
}
main .main-content-wrapper .section-content-wrapper .section-content .hidden-player-information-wrapper .player-full-info-wrapper .player-info-data-wrapper .player-info-row-wrapper {
  display: flex;
  font-weight: bold;
  padding: 0.3vw 0;
  font-size: calc((var(--normal-text-size-value) - 1) * 5vmax + 0.2rem);
}
main .main-content-wrapper .section-content-wrapper .section-content .hidden-player-information-wrapper .player-full-info-wrapper .player-info-data-wrapper .player-info-row-wrapper div {
  white-space: nowrap;
  display: flex;
}
main .main-content-wrapper .section-content-wrapper .section-content .hidden-player-information-wrapper .player-full-info-wrapper .player-info-data-wrapper nav {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
main .main-content-wrapper .section-content-wrapper .section-content .hidden-player-information-wrapper .player-full-info-wrapper .photo-player-wrapper {
  display: flex;
  justify-content: center;
  width: 40%;
  aspect-ratio: 1/1;
}
main .main-content-wrapper .section-content-wrapper .section-content .hidden-player-information-wrapper .player-full-info-wrapper .photo-player-wrapper img {
  height: 100%;
  overflow: hidden;
}
main .main-content-wrapper .section-content-wrapper .section-content .hidden-player-information-wrapper .player-full-info-wrapper .player-diagramm-wrapper {
  width: 40%;
  padding: 2vw 0;
}
main .main-content-wrapper .section-content-wrapper .section-content .hidden-player-information-wrapper .player-full-info-wrapper .player-diagramm-wrapper .row {
  width: 100%;
}
main .main-content-wrapper .section-content-wrapper .section-content .hidden-player-information-wrapper .player-full-info-wrapper .player-diagramm-wrapper .efficency-wrapper {
  font-size: calc((var(--normal-text-size-value) - 1) * 5vmax + 0.2rem);
  display: flex;
  justify-content: center;
  font-weight: 600;
}
@media screen and (max-width: 620px) {
  main .main-content-wrapper .section-content-wrapper .section-content .hidden-player-information-wrapper .player-full-info-wrapper .player-info-data-wrapper,
  main .main-content-wrapper .section-content-wrapper .section-content .hidden-player-information-wrapper .player-full-info-wrapper .photo-player-wrapper,
  main .main-content-wrapper .section-content-wrapper .section-content .hidden-player-information-wrapper .player-full-info-wrapper .player-diagramm-wrapper {
    width: 75%;
  }
}
main .main-content-wrapper .section-content-wrapper .section-content .opponentTeamList {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-row-gap: 1.5vw;
  padding: 0;
  width: 75%;
  padding: 2vw;
}
main .main-content-wrapper .section-content-wrapper .section-content .opponentTeamList .nav-image-wrapper img {
  width: 8vw;
  aspect-ratio: 1/1;
}
main .main-content-wrapper .section-content-wrapper .section-content .opponentTeamList .nav-image-wrapper img:hover {
  transform: translateY(-7px);
  transition: 0.3s;
}
main .main-content-wrapper .section-content-wrapper .section-content .opponentTeamList div {
  font-weight: 600;
  font-size: 2vw;
}
main .main-content-wrapper .section-content-wrapper .section-content .showRatings {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper {
  width: 100%;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .reset-button-wrapper {
  margin: -10px 0;
  justify-content: space-between;
  position: relative;
  z-index: 11;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .button-save-wrapper {
  margin: 5px;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-home-row-zones-wrapper {
  height: 2vmax;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-home-row-zones-wrapper .nameOfZone-field-wrapper {
  height: 2vmax;
  width: 33.33%;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-front-row-zones-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-back-row-zones-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .row-zones-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .my-row-zones-wrapper {
  display: flex;
  justify-content: space-around;
  min-height: 18.5px;
  align-items: center;
  font-weight: 600;
  width: 100%;
  z-index: 9;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-front-row-zones-wrapper .player-field-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-back-row-zones-wrapper .player-field-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .row-zones-wrapper .player-field-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .my-row-zones-wrapper .player-field-wrapper {
  height: 2vw;
  width: 90%;
  min-height: 18.5px;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-front-row-zones-wrapper .zone-names-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-back-row-zones-wrapper .zone-names-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .row-zones-wrapper .zone-names-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .my-row-zones-wrapper .zone-names-wrapper {
  height: 12vmax;
  width: 100%;
  font-size: calc((var(--normal-text-size-value) - 1) * 5vw + 1rem);
  align-items: center;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-front-row-zones-wrapper .card-content,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-back-row-zones-wrapper .card-content,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .row-zones-wrapper .card-content,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .my-row-zones-wrapper .card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 18.5px;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-front-row-zones-wrapper .player-field-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-front-row-zones-wrapper .zone-names-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-back-row-zones-wrapper .player-field-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-back-row-zones-wrapper .zone-names-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .row-zones-wrapper .player-field-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .row-zones-wrapper .zone-names-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .my-row-zones-wrapper .player-field-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .my-row-zones-wrapper .zone-names-wrapper {
  font-weight: bold;
  display: flex;
  justify-content: center;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-front-row-zones-wrapper .errors-field-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-back-row-zones-wrapper .errors-field-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .row-zones-wrapper .errors-field-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .my-row-zones-wrapper .errors-field-wrapper {
  border: 1px solid black;
  width: 90%;
  display: flex;
  flex-direction: column;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-front-row-zones-wrapper .errors-field-wrapper table,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-back-row-zones-wrapper .errors-field-wrapper table,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .row-zones-wrapper .errors-field-wrapper table,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .my-row-zones-wrapper .errors-field-wrapper table {
  background-color: white;
  table-layout: fixed;
  width: 100%;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-front-row-zones-wrapper .errors-field-wrapper table tbody tr,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-back-row-zones-wrapper .errors-field-wrapper table tbody tr,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .row-zones-wrapper .errors-field-wrapper table tbody tr,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .my-row-zones-wrapper .errors-field-wrapper table tbody tr {
  border: 2px solid black;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-front-row-zones-wrapper .errors-field-wrapper table tbody tr th,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-front-row-zones-wrapper .errors-field-wrapper table tbody tr td,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-back-row-zones-wrapper .errors-field-wrapper table tbody tr th,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-back-row-zones-wrapper .errors-field-wrapper table tbody tr td,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .row-zones-wrapper .errors-field-wrapper table tbody tr th,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .row-zones-wrapper .errors-field-wrapper table tbody tr td,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .my-row-zones-wrapper .errors-field-wrapper table tbody tr th,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .my-row-zones-wrapper .errors-field-wrapper table tbody tr td {
  border: 1px solid black;
  height: 1vw;
  white-space: nowrap;
  overflow: hidden;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-front-row-zones-wrapper .errors-field-wrapper table tbody tr th input,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-front-row-zones-wrapper .errors-field-wrapper table tbody tr td input,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-back-row-zones-wrapper .errors-field-wrapper table tbody tr th input,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-back-row-zones-wrapper .errors-field-wrapper table tbody tr td input,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .row-zones-wrapper .errors-field-wrapper table tbody tr th input,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .row-zones-wrapper .errors-field-wrapper table tbody tr td input,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .my-row-zones-wrapper .errors-field-wrapper table tbody tr th input,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .my-row-zones-wrapper .errors-field-wrapper table tbody tr td input {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  font-weight: 600;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-front-row-zones-wrapper .errors-field-wrapper table tbody tr th,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-back-row-zones-wrapper .errors-field-wrapper table tbody tr th,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .row-zones-wrapper .errors-field-wrapper table tbody tr th,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .my-row-zones-wrapper .errors-field-wrapper table tbody tr th {
  background-color: gainsboro;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-front-row-zones-wrapper .player-image-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-back-row-zones-wrapper .player-image-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .row-zones-wrapper .player-image-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .my-row-zones-wrapper .player-image-wrapper {
  height: 10vmax;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-front-row-zones-wrapper .player-image-wrapper img,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-back-row-zones-wrapper .player-image-wrapper img,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .row-zones-wrapper .player-image-wrapper img,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .my-row-zones-wrapper .player-image-wrapper img {
  border: none;
  height: 100%;
  min-height: 60px;
  padding-top: 7px;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-front-row-zones-wrapper {
  top: 0.5%;
  position: absolute;
  font-size: calc((var(--normal-text-size-value) - 1) * 5vw + 1rem);
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .empty-guest-back-row-zones-wrapper {
  top: 41%;
  position: absolute;
  font-size: calc((var(--normal-text-size-value) - 1) * 5vw + 1rem);
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .my-row-zones-wrapper {
  height: 100%;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .row-zones-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .my-row-zones-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  min-height: 18.5px;
  z-index: 10;
  position: relative;
}
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .row-zones-wrapper .nameOfZone-field-wrapper,
main .main-content-wrapper .section-content-wrapper .section-content .rotation-field-wrapper .my-row-zones-wrapper .nameOfZone-field-wrapper {
  height: 2vmax;
  width: 33.33%;
}

/*# sourceMappingURL=newMain.css.map */
