.main-content-wrapper .ratings-section {
  width: 100%;
}
.main-content-wrapper .ratings-section .diagram-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  align-items: center;
}
.main-content-wrapper .ratings-section table {
  table-layout: fixed;
  width: 100%;
}
.main-content-wrapper .ratings-section table caption {
  min-width: 340px;
}
.main-content-wrapper .ratings-section table caption nav {
  width: 100%;
  margin: 1vw 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main-content-wrapper .ratings-section table caption nav .team-filter-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1vw;
}
.main-content-wrapper .ratings-section table caption nav .choosen-game-filter-wrapper {
  margin: 1vw 0 1vw 0;
}
.main-content-wrapper .ratings-section table caption nav .choosen-game-filter-wrapper div {
  font-size: 1.25vmax;
  margin: 0.1vmax 0 0.1vmax 0;
}
.main-content-wrapper .ratings-section table caption nav .choosen-game-filter-wrapper select,
.main-content-wrapper .ratings-section table caption nav .choosen-game-filter-wrapper input {
  border: 2px solid black;
  font-size: 1.25vmax;
  background-color: darkorange;
  border-radius: 5px;
  text-align: center;
}
.main-content-wrapper .ratings-section table caption nav .choosen-game-filter-wrapper input {
  background-color: transparent;
}
.main-content-wrapper .ratings-section table caption nav .set-selection-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content-wrapper .ratings-section table caption nav .set-selection-wrapper div {
  font-size: 1.25vmax;
  font-weight: bold;
}
.main-content-wrapper .ratings-section table caption nav .set-selection-wrapper input {
  font-size: 1.25vmax;
  margin: 1vw 2vw 0 2vw;
}
.main-content-wrapper .ratings-section table tbody .showInfo-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.main-content-wrapper .ratings-section table tbody .showInfo-wrapper .hidden-player-information-wrapper {
  width: 55vw;
}
.main-content-wrapper .ratings-section table tbody tr th {
  background-color: rgb(100, 149, 237);
  white-space: nowrap;
  overflow: hidden;
}
.main-content-wrapper .ratings-section table tbody tr th:hover {
  background-color: orangered;
  transition: 0.7s;
}
.main-content-wrapper .ratings-section table tbody tr th:hover button {
  color: white;
}
.main-content-wrapper .ratings-section table tbody tr th button {
  height: 10vmin;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: calc((var(--normal-text-size-value) - 1) * 4.5vmin + 0.4rem);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
.main-content-wrapper .ratings-section table tbody tr td {
  font-size: calc((var(--normal-text-size-value) - 1) * 4vmin + 0.5rem);
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  height: 2.5vw;
}
.main-content-wrapper .ratings-section table tbody tr .rating-player-name {
  padding: 0 0.5vw;
  text-align: center;
  white-space: inherit;
  width: 10vw;
}

/*# sourceMappingURL=newRatings.css.map */
