.main-content-wrapper .ratings-section {
  width: 100%;
}
.main-content-wrapper .ratings-section .diagram-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}
.main-content-wrapper .ratings-section .diagram-wrapper .diagram-content {
  width: 40%;
}
.main-content-wrapper .ratings-section table {
  table-layout: fixed;
}
.main-content-wrapper .ratings-section table caption {
  min-width: 340px;
}
.main-content-wrapper .ratings-section table caption nav {
  width: 100%;
  margin: 1vw 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main-content-wrapper .ratings-section table caption nav .team-filter-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1vw;
}
.main-content-wrapper .ratings-section table caption nav .choosen-game-filter-wrapper {
  margin: 1vw 0 1vw 0;
}
.main-content-wrapper .ratings-section table caption nav .choosen-game-filter-wrapper div {
  font-size: 1.25vmax;
  margin: 0.1vmax 0 0.1vmax 0;
}
.main-content-wrapper .ratings-section table caption nav .choosen-game-filter-wrapper select,
.main-content-wrapper .ratings-section table caption nav .choosen-game-filter-wrapper input {
  border: 2px solid black;
  font-size: 1.25vmax;
  background-color: darkorange;
  border-radius: 5px;
  text-align: center;
}
.main-content-wrapper .ratings-section table caption nav .choosen-game-filter-wrapper input {
  background-color: transparent;
}
.main-content-wrapper .ratings-section table caption nav .set-selection-wrapper input {
  margin: 0 2vw;
}
.main-content-wrapper .ratings-section table tbody .showInfo-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.main-content-wrapper .ratings-section table tbody .showInfo-wrapper .hidden-player-information-wrapper {
  width: 55vw;
}
.main-content-wrapper .ratings-section table tbody tr .rating-player-name {
  padding: 0 0.5vw;
  text-align: start;
}
.main-content-wrapper .ratings-section table tbody tr th {
  background-color: rgb(100, 149, 237);
  border: 2px solid black;
  white-space: nowrap;
  overflow: hidden;
}
.main-content-wrapper .ratings-section table tbody tr th button {
  color: black;
}
.main-content-wrapper .ratings-section table tbody tr th:hover {
  background-color: orangered;
  transform: translateY(-1vw);
  transition: 0.7s;
}
.main-content-wrapper .ratings-section table tbody tr th:hover button {
  color: white;
}
.main-content-wrapper .ratings-section table tbody tr th button {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: calc((var(--normal-text-size-value) - 1) * 3vw + 0.5rem);
  font-weight: 600;
  padding: 1vw 0.5vw;
}
.main-content-wrapper .ratings-section table tbody tr td {
  font-size: calc((var(--normal-text-size-value) - 1) * 3vw + 0.5rem);
  box-sizing: border-box;
  border: 1px solid black;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
}
.main-content-wrapper .ratings-section table tbody tr td img {
  width: calc((var(--normal-text-size-value) - 1) * 5vw + 1rem);
}

/*# sourceMappingURL=newRatings.css.map */
