.main-content-wrapper {
  .ratings-section {
    width: 100%;
    .diagram-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 2vw;
      align-items: center;
    }
    table {
      // width: clamp(325px, 100%, 1300px);
      table-layout: fixed;
      width: 100%;
      caption {
        min-width: 340px;
        nav {
          width: 100%;
          margin: 1vw 0;
          display: flex;
          justify-content: center;
          flex-direction: column;
          .team-filter-wrapper {
            display: flex;
            justify-content: center;
            margin-top: 1vw;
          }
          .choosen-game-filter-wrapper {
            margin: 1vw 0 1vw 0;
            div {
              font-size: 1.25vmax;
              margin: 0.1vmax 0 0.1vmax 0;
            }
            select,
            input {
              border: 2px solid black;
              font-size: 1.25vmax;
              background-color: darkorange;
              border-radius: 5px;
              text-align: center;
            }
            input {
              background-color: transparent;
            }
          }
          .set-selection-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            div {
              font-size: 1.25vmax;
              font-weight: bold;
            }
            input {
              font-size: 1.25vmax;
              margin: 1vw 2vw 0 2vw;
            }
          }
        }
      }
      tbody {
        .showInfo-wrapper {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: fixed;
          display: flex;
          justify-content: center;
          width: 100%;
          height: 100%;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.5);
          .hidden-player-information-wrapper {
            width: 55vw;
          }
        }
        tr {
          th {
            background-color: rgb(100, 149, 237);
            white-space: nowrap;
            overflow: hidden;
            &:hover {
              background-color: orangered;
              transition: 0.7s;
              button {
                color: white;
              }
            }
            button {
              height: 10vmin;
              width: 100%;
              background-color: transparent;
              border: none;
              font-size: calc((var(--normal-text-size-value) - 1) * 4.5vmin + 0.4rem);
              font-weight: 600;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #000;
            }
          }
          td {
            font-size: calc((var(--normal-text-size-value) - 1) * 4vmin + 0.5rem);
            box-sizing: border-box;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;

            img {
              width: calc((var(--normal-text-size-value) - 1) * 5vw + 1rem);
            }
          }
          .rating-player-name {
            padding: 0 0.5vw;
            text-align: center;
            white-space: inherit;
            width: 10vw;
          }
          // .name-wrapper {
          //   display: flex;
          //   align-items: center;
          //   justify-content: space-between;
          //   padding: 0.5vw;
          // }
        }
      }
    }
  }
}
