.main-content-wrapper {
  .ratings-section {
    width: 100%;
    .detailed-stats-name-wrapper {
      font-size: 1.25vmax;
      font-weight: bold;
      margin: 1vmax 0;
      .choosen-player-name-content {
        padding: 0.5vw;
        margin-top: 0.5vw;
        border-radius: 15px;
        background-color: pink;
      }
    }
    .aspect-selection-wrapper {
      display: flex;
      font-size: 1.25vmax;
      font-weight: bold;
      div {
        margin: 0 0.5vmax;
      }
      .checkbox-row-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
      }
    }
    nav {
      width: 100%;
      margin: 1vw 0;
      .team-filter-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 1vw;
      }
      .choosen-game-filter-wrapper {
        margin: 1vw 0 1vw 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        div {
          font-size: 1.25vmax;
          margin: 0.1vmax 0 0.1vmax 0;
        }
        select,
        input {
          border: 2px solid black;
          font-size: 1.25vmax;
          background-color: darkorange;
          border-radius: 5px;
          text-align: center;
          option {
            font-weight: 600;
          }
        }
        select {
          font-weight: 600;
        }
        input {
          background-color: transparent;
        }
      }
      .set-selection-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        div {
          font-size: 1.25vmax;
          font-weight: bold;
        }
        input {
          font-size: 1.25vmax;
          margin: 1vw 2vw 0 2vw;
        }
      }
    }
    .game-plusMinus-position-wrapper {
      display: flex;
      justify-content: center;
      div {
        margin: 1vmax;
        font-weight: 600;
        font-size: 2vmax;
      }
    }
    .gameLog-table-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      table {
        table-layout: fixed;
        align-self: center;
        font-weight: 600;
        .gameLog-set-wrapper {
          background-color: orangered;
          td {
            font-size: 2vmax;
          }
        }
        .gameLog-column-wrapper {
          display: flex;
          td {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            width: 5vmax;
            font-size: calc((var(--normal-text-size-value) - 1) * 2.5vw + 0.5rem);
          }
        }
      }
    }
    table {
      table-layout: fixed;
      align-self: baseline;
      tbody {
        tr {
          text-align: center;
          th {
            background-color: rgb(100, 149, 237);
            white-space: nowrap;
            overflow: hidden;
            &:hover {
              background-color: orangered;
              transition: 0.7s;
              button {
                color: white;
              }
            }
            button {
              height: 10vmin;
              width: 3vw;
              background-color: transparent;
              border: none;
              font-size: calc((var(--normal-text-size-value) - 1) * 3.5vmin + 0.4rem);
              font-weight: 600;
              color: #000;
              justify-content: center;
              align-items: center;
              display: flex;
            }
          }
          td {
            font-size: calc((var(--normal-text-size-value) - 1) * 2.5vw + 0.3rem);
            box-sizing: border-box;
            white-space: nowrap;
            height: 2.5vmax;
            border: 1px solid;
          }
          .rating-player-name {
            padding: 0 0.5vw;
            text-align: center;
            width: 10vw;
            font-weight: 600;
          }
        }
      }
    }
    .type-of-actions-wrapper {
      display: flex;
      justify-content: center;
      border-left: 2px solid white;
      border-right: 2px solid white;
      .service-content,
      .attack-content,
      .reception-content {
        width: 23.4%;
        font-size: calc((var(--normal-text-size-value) - 1) * 3vw + 0.6rem);
        font-weight: 600;
        margin: auto;
        margin-top: -2px;
        border: 1px solid;
      }
      .service-content {
        background-color: khaki;
      }
      .attack-content {
        background-color: gainsboro;
      }
      .reception-content {
        background-color: darkseagreen;
      }
    }
    .diagram-wrapper {
      width: 99%;
      display: flex;
      justify-content: center;
      margin-top: 2vw;
      align-items: center;
      pre {
        width: 80%;
      }
    }
  }
}
